In [17]:
#pt RN
import tensorflow.compat.v1 as tf

**# Parametri model**

W - pentru inputuri

In [25]:
W = tf.Variable(0.3, tf.float32)

bias - pt a regla output

In [27]:
b = tf.Variable(-0.3, tf.float32)

inputs & outputs (for RN)

In [28]:
tf.disable_v2_behavior()
x =  tf.placeholder(tf.float32)
y =  tf.placeholder(tf.float32)

# liniar Model

In [30]:
lininarModel =x*W+b

# Loss

In [32]:
squaredDelta = tf.square(lininarModel - y)
#suma tururor elementelor din tensor
loss = tf.reduce_sum(squaredDelta)

# Oprimizator
1. Folosit (optional) pt invatarea automata,cauta minime, imbunataateste performanta invatarii, minimizand loss-ul
2. optimizatorul- primeste ca parametru **rata de invatare**

In [ ]:
# ajusteaza ponderile modelului, pt a minimiza loss
# la fiecare pas se ajusteaza pt a ajunge la performanta dorita

optimizer = tf.train.GradientDescentOptimizer(0.01)

# Sesiune- executarea grafului
-->initializarea valorilor grafului din TensorFlow pentru a fi valorile globale dorite in timpul rularii.

In [34]:
model = tf.keras.models.Sequential()

Evaluare model

In [52]:
x = tf.constant([17, 2, 3, 4])
y = tf.constant([0, -1, -2, -3])

predictia

In [53]:
def evaluate_model(x, y):
    # Folosiți modelul pentru a face o predicție
    predictions = model.predict(x, steps=1)
    # Calculați loss-ul utilizând predicțiile și valorile de referință y
    loss = tf.reduce_mean(tf.square(predictions - y))
    return loss

In [54]:
loss = evaluate_model(x, y)
print(loss)

Tensor("Mean_10:0", shape=(), dtype=int32)

In [55]:
loss

---------------------------------------------

----------------------------------------

### Cum calculam functiile de activare in cazul x, b, w-matrici?

1. np.ones((m, 1)) -> matrice de m linii & 1 col
2. .target.reshape(-1, 1) ==> vector coloana (pt linia "target" din db)

In [56]:
from sklearn.datasets import fetch_california_housing
housing =fetch_california_housing()

In [57]:
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [58]:
housing.target.reshape(-1, 1)

array([[4.526],
       [3.585],
       [3.521],
       ...,
       [0.923],
       [0.847],
       [0.894]])

Aplicare formula(op. matrici)
![LiniarReg.jpg]()

In [ ]:
TX = tf.transpose(X)
theta = tf.matmul(tf.matmul( tf.matrix_inverse(tf.matmul(TX, X)),TX ),y)

Biblio:
1. https://github.com/ArdeleanRichard/University-Projects/tree/main/Python/MachineLearning
2. https://stackoverflow.com/questions/37383812/tensorflow-module-object-has-no-attribute-placeholder